* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul li {
    list-style: none;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

/**
    Common css end
*/
.header-full {
    background: #1C1E53;
    height: 92px;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 92px;
    align-items: center;
}

.main-logo img {
    width: 100%;
}

.menu-item ul {
    display: flex;
    align-items: center;
}

.menu-item ul li a {
    padding: 15px 16px;
    font-weight: bold;
    color: #BBBBCB;
}

.menu-item ul li:hover a {
    color: #fff;
}

.header-btn {
    width: 185px;
    text-align: center;
    border: 2px solid #F4F6FC33;
    font-weight: 500;
    padding: 15px 16px;
    margin-left: 16px;
    background-color: transparent;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.header-btn a {
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.header-btn:hover {
    background-color: #FCD980;
    color: black;
}

.header-btn:hover a {
    color: black;
}

.menu-item,
.header-btn button a {
    font-weight: 500;
    color: #BBBBCB;
}

/* 

Problem-slove-area css start
*/
.problem-fluid {
    padding: 128px 0px;
}

.problem-slove-area {
    display: flex;
    justify-content: space-between;
}

.problem-text {
    width: 595px;
    color: black;
    padding-right: 50px;
}

.problem-team-img {
    width: 595px;
}

.problem-text>p {
    font-weight: bold;
}

.problem-text h4 {
    font-size: 54px;
    font-weight: 600;
    color: #282938;
    padding-bottom: 28px;
}

.problem-text p {
    color: #282938;
    opacity: 0.7;
    padding-right: 100px;
}

/* Goal area css start */
.goal-area {
    display: flex;
    justify-content: space-between;
    background-color: #F4F5F5;
    padding: 80px;
}

.goal-fluid {
    margin-bottom: 128px;
}

.goal-success {
    width: 515px;
}

.goal-improvedment {
    width: 515px;
    padding-top: 20px;
}

.goal-success h2,
.goal-improvedment h2 {
    font-size: 38px;
    font-weight: 600;
    padding-bottom: 16px;
    color: #282938;
}

/* 
    Process-follow CSS start
*/
.process-fluid {
    padding-bottom: 128px;
}

.process-header h3 {
    font-weight: 600;
    line-height: 64px;
    padding-bottom: 48px;
    text-align: center;
    font-size: 48px;
}

.process-follow {
    display: flex;
    justify-content: space-between;
}

.process {
    width: 295px;

}

.process img {
    width: 295px;
    padding-bottom: 32px;
}

.process h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    padding-bottom: 8px;
}

.process p {
    font-weight: 400;

}

/* 
    Inspire section CSS start
*/

.inspire-fluid {
    padding: 128px 0px;
    background-color: #EEF4FA;
}

.inspire-top,
.inspire-bottom {
    display: flex;
}

.inspire-top {
    padding-bottom: 96px;
}

.inspire-left-text {
    width: 60%;
    padding-right: 10px;
}

.inspire-left-img {
    width: 40%;
}

.inspire-left-text h6 {}

.inspire-left-text h3 {
    padding: 16px 0px;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
}

.inspire-left-img {
    padding-left: 130px;
}

.losor-img {
    padding-right: 130px;
    padding-left: 0px;
}

.inspire-left-text p {
    color: #282938;
}

/* 
 Benefite-area CSS
*/
.benefite-fluid {
    padding: 128px 0px;
}

.benefite-all-card {
    display: flex;
    justify-content: space-between;
}

.benefite-card {
    width: 370px;
    background-color: #F4F6FC;
    padding: 32px;
    margin-right: 30px;

}
.benefite-card a {
    font-size: 30px;

}

.benefite-header h3 {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    padding-bottom: 48px;
    text-align: center;
    color: #282938;

}

.benefite-card h4 {
    width: 405px;
    background-color: #F4F6FC;
    padding-bottom: 12px;
    padding-top: 26px;
    font-size: 24px;
}

.benefite-card p {
    color: #282938;
}

.brand-logo {
    display: flex;
    padding-top: 48px;
    justify-content: space-between;
}

.brand-logo img {
    padding-left: 80px;
}

/* 
 Team area CSS start
*/

.our-team-fluid {
    background-color: #F4F6FC;
    padding: 128px 0px;
}

.team-header {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    color: #282938;
    text-align: center;
    padding-bottom: 48px;
}
.team-card{
    width: 296px;
    text-align: center;
    background-color: #FFFFFF;
    padding-bottom: 30px;
   
}
.team-card img{
 padding: 48px;
}
.our-team{
    display: flex;
    justify-content: space-between;
}










































/* Footer top part start */

.footer-fluid {
    background-color: #1C1E53;
    padding-top: 96px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-top-logo img {
    padding-bottom: 22px;
}

.footer-top-logo {
    width: 50%;
    position: relative;
}

.footer-top-text {
    width: 50%;
}

.footer-top-logo>p {
    color: #F4F6FC;
    opacity: 0.8;
    padding-bottom: 86px;
    padding-right: 250px;

}

.footer-contact {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    width: 517px;
    height: 50px;
    background-color: #FCD980;
    color: #282938;
    position: absolute;
    left: 0;
    bottom: 0;
}

.email-me {
    width: 50%;
    color: #282938;
}

.email-me p,
.coll-me p {
    color: #282938;
    padding-top: 10px;
}

.coll-me {
    width: 50%;
}

.footer-top-text {
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    padding-bottom: 50px;
    width: 400px;
}

.footer-top-text h3 {
    color: #FFFFFF;
    padding-bottom: 14px;
}

.footer-top-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #F4F6FC;
    opacity: 0.8;
    padding-bottom: 28px;
}

.social-icon a {
    color: #FFFFFF;
    font-size: 18px;
    padding-right: 16px;
}

.read-more a {
    color: #282938;
}

/* Footer part start */
.footer-area {
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    display: flex;
    align-items: center;
}

.footer-menu ul li {
    display: inline-block;
}

.footer-menu ul li a {
    padding: 32px 16px;
    color: #282938;
    font-weight: 500;
}